<!DOCTYPE html>
<html lang="en">
  <head>
  <title> Messages</title>
  </head>
  <body>
  	<h3>Decrypted message list</h3>
 <table style="width:100%">
  <tr>
    <th></th>
    
  </tr>
  <% messages.forEach( function( msg ){ %>
  <tr>
  
    <td><%= msg %></td>
    
    

  </tr>
  <% }); %>
</table>

  </body>
 </html>